cutadapt==4.6
pyyaml==6.0.2
pandas==1.5.3
scanpy==1.9.3
polars==1.1.0
pyarrow==20.0.0
pysam==0.22.0
scipy==1.15.3
joblib==1.2.0
pyfaidx==0.7.1
pygtrie==2.5.0
portion==2.4.2
numpy==2.3.0
gtfparse==1.2.1
pyfastx==2.2.0
fastexcel==0.14.0
numba==0.61.2